body {
    margin: 0;
}

.red {
    background: rgb(187, 19, 19);
    height: 100px;
}

.blue {
    background: rgb(4, 4, 128);
    height: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.green {
    background: green;
    height: 100px;
}